
*,
html {
    font-family: 'Quicksand', sans-serif;
}

header {
    text-align: center;
    font-size: 20px;
    margin: 40px;
    color: #823038;
    font-weight: bold;
}

main {
    text-align: start;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    line-height: 26px;
    margin: 30px 50px;
}

.profile {
    height: 30px;
    text-align: center;
    margin-right: 10px;
}

.contact {
    display: flex;
    justify-content: flex-start;
}
.logo {
    height: 30px;
    text-align: center;
    margin-right: 10px;
}