*,
html {
    font-family: 'Quicksand', sans-serif;
}

/*---Head---*/
.sign_up {
    background-color: #823038;
    color: white;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.head_line {
    margin-top: 0.5em;
    border: 2px solid #823038;
}

/*---Main content---*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
}
input {
    background-color: #AEAEAE;
    border: none;
    border-radius: 5px;
}
label {
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: white;
}

.ok_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #823038;
    width: 4.5em;
    border-radius: 5px;
    height: 3em;
    margin-top: 2em;
}