*,
html {
    font-family: 'Quicksand', sans-serif;

}

/*---Head---*/
.sign_in {
    background-color: #823038;
    color: white;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.head_line {
    margin-top: 0.5em;
    border: 2px solid #823038;
}

/*---Main content---*/
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}
input {
    background-color: #AEAEAE;
    border: none;
    border-radius: 5px;
}
label {
    margin-bottom: 2em;
}