*,
html {
    font-family: 'Quicksand', sans-serif;

}

/*---Head---*/
h2 {
    color: white;
    background-color: #823038;
    height: 3em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    background-color: #823038;
    height: 0.3em;
    width: 100%;
    margin-top: 0.5em;
}