*,
html {
    font-family: 'Quicksand', sans-serif;
}


html {
    min-height: 100%;
    position: relative;
}

/*---Head---*/

.head {
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin: 40px 0 40px 0px;
}
.profile_logo {
    height: 30px;
}

.title {
    color: #823038;
    font-size: 30px;
    margin-top: 0;
}

/*---Main content---*/

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 30em; */
    width: 60%;
    margin: auto;
}
*,
html {
    font-family: 'Quicksand', sans-serif;
}

/* html {
    min-height: 100%;
    position: relative;
} */

img {
    height: 3em;
}

.cp-1,
.cp-2,
.cp-3 {
    margin-bottom: 4em;
}

.cp-1,
.cp-2,
.cp-3 {
    /* padding: 1em;
    width: 100px; */
    text-align: center;
}
.cp-1 img,
.cp-2 img, 
.cp-3 img {
    width: 100%;
    height: auto;
}

.ticket {
    position: relative;
    font-size: 0.8em;
}

.coupon_overlay {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
    left: 0;
    /* margin: 0 4px 0 58px; */
    background-color: gray;
    opacity: 0;
    text-align: center;
}

.coupon_overlay:hover {
    opacity: 0.8;
}

.lock_info ul {
    list-style: none;
    padding: 0;
}

/* .lock_info ul li {
    margin-top: 14px;
} */

.coupon_overlay img {
    margin-top: 5px;
    width: 1.3em;
}
.coupon_overlay p{
    margin: 0;
}
/* footer style */

a {
    text-align: center;
}
.main_nav {
    display: flex;
    justify-content: space-around;
}

.nav_items {
    height: 30px;
    text-align: center;
}

img {
    height: 3em;
}


/* footer style */

a {
    text-align: center;
}
.main_nav {
    display: flex;
    justify-content: space-around;
}

.nav_items {
    height: 30px;
    text-align: center;
}

.go {
    width: 25%;
    display: flex;
    justify-content: center;
    border: 2px solid #aeaeae;
}

body {
    margin: 0;
    margin-bottom: 40px;
    line-height: none;
}
  
footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
  }