*,
html {
    font-family: 'Quicksand', sans-serif;

}

/*---Head---*/
.head {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin: 40px 0 40px 38px;
}
.profile_logo {
    height: 30px;
}

h2 {
    margin-left: 20px;
}

/*---Main content---*/
p {
    text-align: center;
}
/* .recycle-pictures {
    text-align: center;
    flex-direction: column;
} */
.recycle-pictures img{
    height: 10em;
    width: auto;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}
.scroll {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.first-picture {
    margin-left: 20px;
}
/*---Footer---*/
a {
    text-align: center;
}
.main_nav {
    display: flex;
    justify-content: space-around;
}

.nav_items {
    height: 30px;
    text-align: center;
}

.go {
    width: 25%;
    display: flex;
    justify-content: center;
    border: 2px solid #aeaeae;
}

body {
    margin: 0;
    margin-bottom: 40px;
}
  
footer {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
  }

  body {
    margin: 0;
    margin-bottom: 40px;
}

/* recycle hovers */

/* .recycle-item {
    position: relative;
}

.color_overlay_yellow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: yellow;
    opacity: 0;
}

.color_overlay_blue {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: blue;
    opacity: 0;
}

.color_overlay_green {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: green;
    opacity: 0;
}
.color_overlay_yellow:hover,
.color_overlay_blue:hover,
.color_overlay_green:hover {
    opacity: 0.3;
} */
