*,
html {
    font-family: 'Quicksand', sans-serif;

}

/*---Head---*/
.head {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin: 40px 0 40px 38px;
}
.profile_logo {
    height: 30px;
}

/*---Main content---*/
p {
    text-align: center;
}
.recycle-pictures {
    text-align: center;
}
.recycle-pictures img{
    height: 10em;
    width: auto;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}

/*---Footer---*/
a {
    text-align: center;
}
.main_nav {
    display: flex;
    justify-content: space-around;
}

.nav_items {
    height: 30px;
    text-align: center;
}

.go {
    width: 25%;
    display: flex;
    justify-content: center;
    border: 2px solid #aeaeae;
}

body {
    margin: 0;
    margin-bottom: 40px;
}
  
footer {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
  }